.register-container {
    margin: 0 auto;
    margin-top: 200px;
    padding: 150px;
    border: 1px solid #5a5630de;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Inika", Helvetica;
    font-size: 20px;
    max-width: 100%;
    background-color: #fff;
  }

  .form-group {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap
  };
  font{
    color: #765D00;
  }
  
  label {
    margin-bottom: 0px;
    color: #765D00;
  }
  label font{
    margin-top: 5px;
    color: #765D00;
  }
  
  .input {
    width: 100%;
    padding: 9px;
    margin-top: 0px;
    border: 1px solid #DFC432;
    border-width: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-right: 10px;
    
  }
  
  .button-client {
    background-color: #FFA8C6;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .button-client:hover {
    background-color: #ff5890;
  }

  .cliente-tabla{
    margin-top: 20px;
    font-size: 15px;
  }
  
  .cliente-tabla table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    
    
  }
  
  
  .cliente-tabla th, .cliente-tabla td {
    border: 1px solid #DFC432;
    padding: 8px;
    text-align: left;
    text-align: center;
  }
  
   th,td font{
    background-color: #FBF9F1;
    color: #765D00;
  }

  .cliente-tabla th {
    background-color: #FBF9F1;
  }
  
  
  .cliente-tabla th:nth-child(1),
  .cliente-tabla td:nth-child(1) {
    width: 10%;
  }
  
  .cliente-tabla th:nth-child(2),
  .cliente-tabla td:nth-child(2) {
    width: 20%;
  }
  
  .cliente-tablath:nth-child(3),
  .cliente-tabla td:nth-child(3) {
    width: 20%;
  }
  
  .cliente-tablath:nth-child(4),
  .cliente-tabla td:nth-child(4) {
    width: 20%;
  }

  .Modificar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: ;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .Modificar-content {
    background-color: #FFC5CC;
    padding: 20px;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 320px;
    text-align: center;
    color: #FF6996;
  }
  .Modificar-content h3, input{
    color: black;
  }

  .Modificar input{
    width: 100%;
    padding: 9px;
    margin-top: 0px;
    border: 1px solid #DFC432;
    border-width: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  
  .register-container h2{
    color: #765D00;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }