.citas-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.citas-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.calendar-container {
    overflow: hidden;
}

/* Ajustes adicionales si es necesario */

.titulo-citas-dia{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .titulo-citas-dia{
        margin-top: 25px;
        font-size: 15px;
        font-weight: bolder;
    }
    
}