.rbc-month-view .rbc-month-row {
    border-bottom: 5px solid #DFC432; 
  }
  
  .rbc-month-view .rbc-day-bg {
    border-right: 5px solid #DFC432;
    border-left: 5px solid #DFC432;
    border-top: 5px solid #DFC432;
  }
  
  .rbc-month-view .rbc-time-slot {
    border-bottom: 5px solid #DFC432; 
  }
  
  .rbc-month-view .rbc-header {
    border-bottom: 5px solid #DFC432;
    border-right: 5px solid #DFC432;
    border-left: 5px solid #DFC432;
    border-top: 5px solid #DFC432;
  }

  .modalh2{
    color: black;
    font-weight: bold;
  }

.calendar-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 125vh;           /* Ocupa toda la altura de la ventana */
    width: 100%;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  text-align: left;
}

.calendario-cadafecha{
  height: 800px;
  width: 950px;
}
 

@media (max-width: 768px) {
  .calendar-container {
    margin-top: 10%;
    display: flex;
    justify-content:flex-start; /* Centra horizontalmente */
    align-items:flex-start;     /* Centra verticalmente */
    height: 100vh;           /* Ocupa toda la altura de la ventana */
    width: 100%;
    padding: 0px 20px 0px 20px !important;
}

  .calendario-cadafecha {
    font-size: 12px; /* Ajustar el tamaño de fuente */
    height: 450px;
    width: 950px;
  }

  .react-big-calendar {
    height: 300px; /* Ajustar la altura del calendario */
  }

  /* Ajustes para modales */
  .modal-body {
    padding: 10px; /* Reducir el padding del modal */
  }

  .rbc-month-view .rbc-month-row {
    border-bottom: 2px solid #DFC432; 
  }
  
  .rbc-month-view .rbc-day-bg {
    border-right: 2px solid #DFC432;
    border-left: 2px solid #DFC432;
    border-top: 2px solid #DFC432;
  }
  
  .rbc-month-view .rbc-time-slot {
    border-bottom: 2px solid #DFC432; 
  }
  
  .rbc-month-view .rbc-header {
    border-bottom: 2px solid #DFC432;
    border-right: 2px solid #DFC432;
    border-left: 2px solid #DFC432;
    border-top: 2px solid #DFC432;
  }

  .rbc-agenda-view table.rbc-agenda-table tbody > tr > td{
    padding: 2px 10px 2px 10px;
  }

  .rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
    padding: 2px 47px 2px 5px!important;
  }

  .rbc-toolbar {
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 10px;
    justify-content: left;
  }
  .rbc-toolbar button {
    padding: 6px;
  }

  .rbc-toolbar .rbc-toolbar-label {
    padding: 0px 0px 0px 0px;
    width: 50%;
    flex-grow:0.5;
  }
}


